#ResponseReport .testset {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

#ResponseReport .test-none {
    display: block;
    float: left;
    width: 30px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: grey;
    color: #fff!important;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

#ResponseReport .test-success {
    display: block;
    float: left;
    width: 30px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: green;
    color: #fff!important;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

#ResponseReport .test-fail {
    display: block;
    float: left;
    width: 30px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: red;
    color: #fff!important;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}


#ResponseReport .detail-table {
    border:1px solid #999;
    background: #FFFFFF;
    width: 100%;
}

#ResponseReport .detail-table th, .detail-table td {
    padding: 5px;
}


#ResponseReport .detail-header {
    background: #DDDDDD;
}

#ResponseReport .detail-row {
    border:1px solid #000;
}

#ResponseReport .detail-row:hover {
    background: #EEEEEE;
}

#ResponseReport .detail-num {
    width: 50px;
}

#ResponseReport .detail-result {
    width: 25%;
    max-width: 300px;
    word-wrap: break-word;
}

#ResponseReport .test-none-dm {
    background: grey!important;
    color: #000000;
}

#ResponseReport .test-success-dm {
    background: green!important;
    color: #FFFFFF;
    font-weight: bold;
}

#ResponseReport .test-fail-dm {
    background: red!important;
    color: #FFFFFF;
    font-weight: bold;
}

#ResponseReport .tools {
    padding: 30px 5px;
    background: #FFFFFF;
    margin-left: 10px;
}

@media print {
    #ResponseReport .tools {
        display: none!important;
    }
}
