#RequestCheck .testset {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

#RequestCheck .test-success {
    display: block;
    float: left;
    width: 30px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: green;
    color: #fff!important;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
} 

#RequestCheck .test-fail {
    display: block;
    float: left;
    width: 30px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: red;
    color: #fff!important;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

#RequestCheck .detail-table {
    border:1px solid #999;
    width: 100%;
}

#RequestCheck .detail-table th, #RequestCheck .detail-table td {
    padding: 5px;
}

#RequestCheck .detail-header {
    background: #DDDDDD;
}

#RequestCheck .detail-row {
    border:1px solid #000;
}

#RequestCheck .detail-row:hover {
    background: #EEEEEE;
}

#RequestCheck .detail-num {
    width: 50px;
}

#RequestCheck .detail-result {
    width: 100px;
}

#RequestCheck .test-success-dm {
    background: green!important;
    color: #FFFFFF;
    font-weight: bold;
}

#RequestCheck .test-fail-dm {
    background: red!important;
    color: #FFFFFF;
    font-weight: bold;
}

#RequestCheck .tools {
    padding: 30px 5px;
    background: #FFFFFF;
    margin-left: 15px;
}

@media print {
    #RequestCheck .tools {
        display: none;
    }
}
