.panel-send {
    background: #FFFFFF;
    padding: 20px;
    border: 1px solid #C2CFD6;
}

.btn-send {
    margin:20px 0;
}

.param {
    width:100%;
    margin-bottom:15px;
}

.checkAttribute {
    margin-right: 10px;
}

.switch {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main {
    margin-bottom: 30px;
}

.Select {
    z-index:999;
    margin-bottom: 20px;
}

.test-description {
    width:100%;
}
