.worksave-img-continue, .worksave-img-new {
    margin-right: 20px;
}

.worksave-text-muted {
    margin-top:20px;
}

.worksave-card:hover {
    background: #e0f0ff;
    cursor: pointer;
}
