// Here you can add other styles

.app-header.navbar {
    background-color: #0066CC;
}

.app-header.navbar .navbar-brand {
    background-color: transparent!important;
    background-size: 135px auto;
    border-bottom:0.5px solid transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf9,%3Csvg viewBox='0 0 30 30' \
        xmlns='http://www.w3.org/2000/svg'%3E%3Cpath \
        stroke='%23ffffff' \
        stroke-width='2.25' \
        stroke-linecap='round' \
        stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")!important;
}

.modal-subtitle {
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.container-login {
	margin-top:100px;
}

.img-login-logo {
	margin-bottom:30px;
}

.btn-primary {
    color: #FFFFFF!important;
}

.form-control {
    background-color: #FFFFFF!important;
}

.btn-success {
    color: #FFFFFF; 
}

.sticky-menu {
    margin-top:60px;
}

.sticky-tools {
    margin-top:50px;
}

.scroll-to-top {
    width: 50px!important;
    background-color: #20a8d8!important;
    box-shadow: none!important;
    border: none!important;
    border-radius: 0!important;
    bottom: 50px!important;
}