# See http://help.github.com/ignore-files/ for more about ignoring files.

.tox
.venv
common/__pycache__
test/__pycache__
test/sp/__pycache__
*.rc

data

check_authn-request.sh
check_metadata_ficep.sh
check_metadata.sh

