#MetadataSpCheck .title {
    margin-bottom: 15px!important;
}

#MetadataSpCheck .subtitle {
    font-size: 1em;
    margin-bottom: 30px;
}

#MetadataSpCheck input.metadata {
    width: 70%;
}

#MetadataSpCheck .code {
    margin-top: 20px;
}

#MetadataSpCheck button {
    margin: 5px!important; 
}

#MetadataSpCheck .testset {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

#MetadataSpCheck .test-success {
    display: block;
    float: left;
    width: 30px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: green;
    color: #fff!important;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

#MetadataSpCheck .test-warning {
    display: block;
    float: left;
    width: 30px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: orange;
    color: #000!important;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

#MetadataSpCheck .test-fail {
    display: block;
    float: left;
    width: 30px;
    line-height: 23px;
    margin: 1px;
    border: 1px solid #000;
    background-color: red;
    color: #fff!important;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

#MetadataSpCheck .detail-table {
    border:1px solid #999;
    width: 100%;
}

#MetadataSpCheck .detail-table th, #MetadataSpCheck .detail-table td {
    padding: 5px;
}

#MetadataSpCheck .detail-header {
    background: #DDDDDD;
}

#MetadataSpCheck .detail-row {
    border:1px solid #000;
}

#MetadataSpCheck .detail-row:hover {
    background: #EEEEEE;
}

#MetadataSpCheck .detail-num {
    width: 50px;
}

#MetadataSpCheck .detail-result {
    width: 100px;
}

#MetadataSpCheck .test-success-dm {
    background: green!important;
    color: #FFFFFF;
    font-weight: bold;
}

#MetadataSpCheck .test-warning-dm {
    background: orange!important;
    color: #000000;
    font-weight: bold;
}

#MetadataSpCheck .test-fail-dm {
    background: red!important;
    color: #FFFFFF;
    font-weight: bold;
}

#MetadataSpCheck .tools {
    padding: 30px 5px;
    background: #FFFFFF;
    margin-left: 15px;
}

#MetadataSpCheck .first-upper {
    text-transform:capitalize;
}

@media print {
    #MetadataSpCheck .tools {
        display: none;
    }
}
