.agid-logo-print, .info-print {
    display: none;
}

@media print {
    .agid-logo-print, .info-print {
        display: block!important;
        margin-bottom: 50px;
        margin-left: 30px;
    }

    .agid-logo-print {
        width: 300px;
    }

    .app-footer {
        display: none!important;
    }
}
